body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial;
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.left-panel {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #0f172a;
}

.left-panel h2 {
  color: #22c55e;
}

.stat {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #94a3b8;
}

/* MAIN PANEL */
.main-panel {
  width: 55%;
  padding: 20px;
}

.chart-header {
  margin-bottom: 10px;
}

button {
  margin-right: 5px;
  padding: 6px 10px;
  background: black;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  cursor: pointer;
}

button:hover {
  background: #38bdf8;
  color: black;
}

canvas {
  width: 100% !important;
  height: 75vh !important;
}

/* RIGHT PANEL */
.right-panel {
  width: 25%;
  padding: 20px;
  border-left: 1px solid #0f172a;
}

/* CARDS */
.card {
  background: #020617;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #0f172a;
  border-radius: 10px;
}

.card h3 {
  color: #38bdf8;
}

/* SENTIMENT */
.sentiment {
  display: flex;
  height: 20px;
  margin-top: 10px;
}

.bull {
  background: #22c55e;
  text-align: center;
}

.bear {
  background: #ef4444;
  text-align: center;
}

/* ACTIVE BUTTON */
.coin-buttons button.active {
  background: #22c55e;
  color: black;
  box-shadow: 0 0 10px #22c55e;
}

/* SMOOTH UI */
.card {
  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 15px rgba(34,197,94,0.4);
}

/* TITLE GLOW */
.left-panel h2 {
  font-weight: bold;
  font-size: 28px;
  text-shadow: 0 0 10px currentColor;
}

#chart {
  width: 100%;
  height: 400px;
}
